<!DOCTYPE html>
@{
    ViewData["Title"] = "Главная";
}

<div id='app' v-cloak></div>

@section scripts {

    <script src="~/dist/main.js" 
            asp-append-version="true">
       

    </script>

}


