html, body {
    height: 100%;
    overflow: hidden;
}

.buttons-page-container {
    width: auto;
    height: 100%;
    background-color: #fcea8c;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.buttons-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.buttons-container>* {
    margin-right: 10px;
}

.button-view-container {
    width: 100%;
    height: 100%;
    background-color: #f2d16c;
    margin-top: 10px;
    border: solid 3px #d1b834;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.button-view-footer {
    display: flex;
    justify-content: flex-end;
}

.button-view-footer-label {
    font-size: small;
    opacity: .75;
    margin: 5px;
}

.button-view-footer-label:hover {
    opacity: 1;
    cursor: pointer;
}

.button-view-body {
    height: 80%;
    width: 40%;
    margin: 10px;
}

label {
    margin-bottom: 0 !important;
}

.loader {
    /* Loader Div Class */
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: #eceaea;
    background-image: url("../loader.gif");
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10000000;
    opacity: 0.6;
    filter: alpha(opacity=40);
}